.card {
    border : solid white 1px;    
    &-img {
        &-border {    
            width: 538px;    
            border : solid white 1px;
            overflow: hidden;
        }
        &-top {
        height: 345px;
        }
    }    
    &-deck--bottom {
        margin-bottom: 90px;
    }
}

.zoom {
    @include zoom;
}