.card {
    border : solid white 1px;    
    &-img {
        &-border {    
            width: 538px;    
            border : solid white 1px;
            overflow: hidden;
            @media screen and (max-width: 599px) {
                width: 100%;
        }
    }
        &-top {
        height: 345px;
        @media screen and (max-width: 599px) {
            height: 84px;
        }
        }
    }    
    &-deck--bottom {
        margin-bottom: 90px;
    }
}

.zoom {
    @include zoom;
}