.navbar {
    margin-bottom: 100px;
    &-img {
        @media screen and (max-width: 599px) {
            width: 50%;
            height: 50%;            
        }
    }    
}

.cart-items {    
    font-size: 1.2em;
    font-weight: bold; 
    text-decoration: none;   
}

svg {
    color: $primary-color;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

